  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 18px;
  }
  
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  
 
  #result_para_tag span{
white-space: pre-line;
  }

  .btn-success{
    font-size: 23px;
  }

  .btn-info{
    font-size: 23px;
  }

  canvas{
    border: 5px solid;
    box-shadow: 5px 5px 5px red;
    border-radius: 20px;
    margin-top: 130px;
  }