  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 23px;
  }
  .heading_div
  {
    font-size: 23px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    margin-left: 350px;
  }
  .heading_div2
  {
    font-size: 18px;
    margin-left: 150px;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  #copy_right_footer{
    bottom: 0;
    line-height: 3;
    position: fixed;
    text-align: center;
    background-color: gray;
    width: 100%;
    color: white;
  }
 
  #result_para_tag span{
white-space: pre-line;
  }

  .btn-success{
    font-size: 23px;
  }

  .btn-info{
    font-size: 23px;
  }

  canvas{
    border: 5px solid;
    box-shadow: 5px 5px 5px red;
    border-radius: 20px;
    margin-top: 130px;
  }